#nav-bar {
    background-color: #A6A6A8;
    height: 80px;
    border-bottom: 2px solid #000411;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 0 20px;
}

#nav-bar span.header {
  display: inline;
  float: left;
  vertical-align: top;
  line-height: 80px;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  color: black;
  margin: 0;
  }

#nav-bar img.logo {
  width: 60px;
  height: 60px;
  float: left;
  margin: 5px 10px;
}

#nav-bar button {
  float: right;
  height: 40px;
  width: 100px;
  margin: 16px;
  background-color: #CAD178;
  border: 1px solid #40434E;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  padding: 4px;
}

#nav-bar button:hover {
  opacity: .6;
}

.grow {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

.grow:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}

button img.edit-icon {
    margin: 3px;
    float: left;
    width: 20px;
    height: 20px;
}


