html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  color: #000;
  background-image: url(/images/geometry.png);
  font-family: "Oswald", sans-serif; }

/*COMPOSE TWEETS*/
main.container {
  width: 450px;
  margin: 140px auto;
  background-color: #FDFFFC;
  padding: 16px; }

.new-tweet {
  padding: 8px;
  background-color: #CAD178;
  border: 1px solid #40434E;
  display: none;
}

  .new-tweet h2 {
    border-bottom: 1px solid black;
    margin: 2px;
    color: #000;
    font-weight: 400;
}

  .new-tweet textarea {
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    font-family: "Old Standard TT", serif;
 }

  .new-tweet .counter {
    float: right;
    font-style: italic;
    font-weight: 300;
   }

.overlimit {
  color: red;
}

/*NEW TWEETS */

#tweets-container article {
  background-color: #FDFFFC;
  margin: 16px auto;
  border: 1px solid #A6A6A8;
  height: 200px;
  opacity: 0.7;
}

  #tweets-container article:hover {
    opacity: 1;
    box-shadow: 5px 5px #40434E;
  }

  #tweets-container article:hover a {
    display: inline-block;
    float: right;
  }

  #tweets-container article:hover .likes {
    display: inline-block;
    float: right;
  }

  article .edit-on-hover img.hover-icon {
    height: 18px;
    width: 18px;
    margin: 4px;
  }

  article .edit-on-hover {
    float: right;
    width: 30%;
    height: 20px;
  }

  article .edit-on-hover a {
    display: none;
  }
  article .edit-on-hover .likes {
    display: none;
    margin: 2px;
  }



  #tweets-container article header {
    padding: 8px 8px 0px;
    background: #A6A6A8;
    position: relative;
    top: 0;
    margin-bottom: 10px;
    height: 60px;
    line-height: 40px;
  }

  #tweets-container article .username {
    margin: 0;
    font-family: "Oswald", sans-serif;
    float: left;
  }

  #tweets-container article .usericon {
    float: left;
    height: 40px;
    width: 40px;
    margin: 0 4px;
  }

  #tweets-container article .user-handle {
    font-size: 16px;
    float: right;
    position: relative;
    margin: 0;
    font-family: "Old Standard TT", serif;
  }

  #tweets-container article .tweet-content {
    padding: 8px;
    margin: 8px;
    height: 45%;
    position: relative;
  }

  #tweets-container article .break-word {
    overflow-wrap: break-word;
    width: 90%;
    height: 40%;
    margin: 4px;
    position: absolute;
    font-family: "Old Standard TT", serif;
  }


  #tweets-container article footer {
    padding: 4px 8px;
    border-top: 1px solid #40434E;
    font-size: 12px;
    height: 20;
  }

  #tweets-container article .date {
    margin-top: 8px;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
  }


/* NAV BAR*/

#nav-bar {
  background-color: #A6A6A8;
  height: 80px;
  border-bottom: 2px solid #000411;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 0 20px;
}

  #nav-bar .header {
    display: inline;
    float: left;
    vertical-align: top;
    line-height: 80px;
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    color: black;
    margin: 0;
 }

  #nav-bar .logo {
    width: 60px;
    height: 60px;
    float: left;
    margin: 5px 10px;
  }


  #nav-bar button {
    float: right;
    height: 40px;
    width: 100px;
    margin: 16px;
    background-color: #CAD178;
    border: 1px solid #40434E;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    padding: 4px;
}

#nav-bar button:hover {
      opacity: .6;
}

button.grow {
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
}

button.grow:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
}

.edit-icon {
      margin: 3px;
      float: left;
      width: 20px;
      height: 20px;
}

.selected {
  background-color: red;
}
/*# sourceMappingURL=styles.css.map */
